.button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button:hover {
  opacity: 1;
}

.button:active {
  transform: (0.95);
}
