.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}
.title {
  width: 90%;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
}
.container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin: 0 auto;
  gap: 20px;
  padding-bottom: 60px;
}

.container img {
  width: 100%;
  opacity: 0.8;
  border-radius: 10px;
  transition: opacity 0.2s ease-in-out;
}

.container img:hover {
  opacity: 1;
}
