.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.title {
  width: 90%;
  font-size: 36px;
  font-weight: bold;
  text-align: left;
  margin-top: 20px;
}

.linkContainer {
  width: 90%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 26px;
  gap: 30px;
}

.linkButton {
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.linkButton:hover {
  opacity: 1;
  padding-left: 10px;
}
