.movie {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 20px;
  cursor: pointer;
  place-items: center;
}

.movie img {
  max-width: 100%;
  aspect-ratio: 2/3; /*영화포스터비율유지*/
  object-fit: cover; /*비율을 지키면서 채움*/
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
}

.movie img {
  opacity: 0.7;
}

.movie img:hover {
  opacity: 1;
}

.movie a {
  text-align: center;
}
